<div class="container basicinfo__container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/icon.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
          </div>
        <div class="col-lg-6">
            <h5 class="display-8 underline_text ">👋 Hi!</h5>
            <h2 class="display-8 fw-bold lh-1 mb-3">I'm Junhe Chen (JC), a Full Stack Software Engineer, Data Analyst and Project Manager.</h2>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <p class="lead">Proven talent for aligning project objectives with established and emerging computer science paradigms to achieve maximum operational impacts with minimum resource expenditures. Growth-focused leader with expertise spanning technology solutions, project management, business operations optimization, application development, team leadership, and client relationship management. </p>
            </div>
            <p class="lead"> Built with ❤️ by <strong class="lead_strong">Junhe</strong> | April 22, 2023</p>
          </div>        
      </div>
</div>